{% extends 'base.html' %}
{% load mathfilters %}
{% block corestyles %}
<link href="/static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />
<link href="/static/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/libs/@chenfengyuan/datepicker/datepicker.min.css">
{% endblock %}
{% block extralinks %}
<style>
    .datepicker{z-index:1151 !important;}
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title ml-4 mt-3">Godown Stock</div>
                <div class="card-body">
                    <table id="table" class="table table-striped table-bordered dt-responsive nowrap mt-4 mb-4">
                        <thead>
                            <tr>
                                <th>Godown Name</th>
                                <th>Category</th>
                                <th>Average Weight</th>
                                <th>Total Bags</th>
                                <th>Total Quantity <small>(in quintals)</small></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries %}
                                <div id="sendModal{{ forloop.counter }}" class="modal fade" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <form class="needs-validation" method="POST"
                                        action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="1" readonly>
                                        <input type="hidden" name="category" value="{{ entry.type_pk }}" readonly>
                                        <input type="hidden" name="source" value="{{ entry.godown_pk }}" readonly>
                                        <input type="hidden" name="average_weight" {% if entry.max|abs > 0 %}
                                        value="{{ entry.max_quantity|div:entry.max|mul:100|floatformat:2 }}"
                                        {% else %}
                                       value="0"
                                        {% endif %}  readonly>
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title mt-0" id="myModalLabel">Send 
                                                        {{entry.category}} -
                                                        {{entry.name}} to processing
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group mb-4">
                                                                <label for="control-label">Number of bags</label>
                                                                <input type="number" step="1" class="form-control" id="horizontal-number-input" max="{{ entry.max|abs }}" name="bags" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group mb-4">
                                                                <label>Select Date</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" placeholder="dd-mm-yyyy" autocomplete="off" data-date-orientation="bottom left" data-date-autoclose="true" value="{% now 'd-m-Y' %}" data-date-format="dd-mm-yyyy" data-provide="datepicker" name="date" required>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group mb-2">
                                                                <label for="staff" class="control-label">Select processing unit</label>
                                                                <select class="mside" name="processing_side" required>
                                                                    {% for side in sides %}
                                                                    <option value="{{ side.pk }}">{{ side.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary waves-effect"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light">Yes,
                                                        send to processing</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div>
                                    </form>
                                </div>
                                <tr>
                                    <td>{{ entry.type }}</td>
                                    <td>{{ entry.godown }}</td>
                                    {% if entry.max|abs > 0 %}
                                    <td>{{ entry.max_quantity|div:entry.max|mul:100|floatformat:2 }}</td>
                                    {% else %}
                                    <td>0</td>
                                    {% endif %}
                                    <td>{{ entry.max|abs }}</td>
                                    <td>{{ entry.max_quantity|abs }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm ml-2" data-toggle="modal"
                                        data-target="#sendModal{{ forloop.counter }}">
                                        <i style="vertical-align: middle;" class="mdi mdi-progress-upload font-size-12"></i><span
                                            class="ml-1">Send to processing</span>
                                    </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                Outgoing Entry
            </div>
            <form method="POST" action="{% url 'materials-outgoing-data' millcode=request.millcode %}">
               {% csrf_token %}
                <div class="row">
                <div class="col-md-4">
                    <select name="category" class="drop">
                        {% for category in categories %}
                            <option value="{{ category.pk }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
               </div>
               <button class="btn btn-primary btn-submit" type="submit">View Entries</button>
               </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/libs/jquery/jquery.min.js"></script>
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/libs/jszip/jszip.min.js"></script>
<script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="/static/js/pages/datatables.init.js"></script>
<script src="/static/libs/node-waves/waves.min.js"></script>
<script src="/static/libs/select2/js/select2.min.js"></script>
<script src="/static/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/static/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/static/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/libs/tui-time-picker/tui-time-picker.min.js"></script>
<script src="/static/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/static/libs/tui-date-picker/tui-date-picker.min.js"></script>
<script src="/static/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/static/js/pages/form-advanced.init.js"></script>
<script src="/static/js/app.js"></script>

<script>
    $('#incoming_stock').select2({
        width: "100%",
    })
    $('.drop').select2({
        width: "100%",
    })
    $('#category').select2({
        width: "100%",
    })
    $('#source').select2({
        width: "100%",
    })
    $('.side').select2({
        width: "100%",
    })
    $('.mside').select2({
        width: "100%",
    })
    $('#table').DataTable({

    })

</script>
{% endblock %}