{% load tz %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <title>{% block title %} Dashboard | Mill ERP Administration | Mill ERP | Tecidexa Services Pvt. Ltd. {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Mill ERP Administration Console" name="description" />
    <meta content="TecideXa Services Pvt. Ltd." name="author" />
    {% block corestyles %}
    {% endblock %}
    <!-- Bootstrap Css -->
    <link href="/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons C -->
    <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css -->
    <link href="/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    {% block extralinks %}
    {% endblock %}
</head>
<body data-sidebar="dark">
    <div id="layout-wrapper">
    {% include 'header.html' %}
    {% include 'tabbar.html' %}
        <div class="main-content">
            <div class="page-content">
                <div id="firmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Switch Firm</h4>
                                        {% for firm in request.firms %}
                                            <form class="row justify-content-between align-items-center" action="{% url 'set-firm' millcode=request.millcode %}" method="POST">
                                                {% csrf_token %}
                                                <div>
                                                    <h6>{{ firm.name }}</h6>
                                                    <input type="hidden" name="firm" value="{{ firm.pk }}" readonly>
                                                </div>
                                                <div>
                                                    <input type="submit" value="Switch" class="btn btn-success ml-2" {% if request.COOKIES.MERP_FIRM == firm.pk|stringformat:"i" %} disabled {% endif %}/>
                                                </div>
                                            </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                {% block body %}
                {% endblock %}
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>
