{% extends 'base.html' %}
{% load mathfilters %}
{% block corestyles %}
<link href="/static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />
<link href="/static/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/libs/@chenfengyuan/datepicker/datepicker.min.css">
{% endblock %}
{% block body %}
<div class="card loader">
    <div class="card-body text-center">
        <div id="spinner" class="spinner-border text-dark m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="card-title mt-4">Please wait while we are loading the live data from site</div>
    </div>
</div>
<div id="guarantee">
    <div class="row">
        <div class="col-md-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted font-weight-medium">Bank Guarantee Secured</p>
                            <h4 id="bg_secured" class="mb-0">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted font-weight-medium">Bank Guarantee Used</p>
                            <h4 id="bg_used" class="mb-0">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted font-weight-medium">Bank Guarantee Remaining</p>
                            <h4 id="bg_remaining" class="mb-0">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <table class="data table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0px; width: 100%;">
                <thead>
                    <th>क्र</th>
                    <th>कुल राशि(रु.मे)</th>
                    <th>बैंक क्र./सैम्पल स्लिप नं.</th>
                    <th>कुल धान की मात्रा(क्विं. मे)</th>
                    <th>प्रतिभूति की स्थिति</th>
                    <th>DO कटने की अंतिम तिथि (वैद्यता समाप्ति से 10 दिन पूर्व)</th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/libs/jquery/jquery.min.js"></script>
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/libs/jszip/jszip.min.js"></script>
<script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="/static/js/pages/datatables.init.js"></script>
<script src="/static/libs/node-waves/waves.min.js"></script>
<script src="/static/libs/select2/js/select2.min.js"></script>
<script src="/static/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/static/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/static/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/libs/tui-time-picker/tui-time-picker.min.js"></script>
<script src="/static/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/static/libs/tui-date-picker/tui-date-picker.min.js"></script>
<script src="/static/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/static/js/pages/form-advanced.init.js"></script>
<script src="/static/js/app.js"></script>
<script>
    $('#guarantee').hide()
    $.ajax({
        url: '{% url "guarantee-api" millcode=request.millcode %}',
        type: 'GET',
        dataType: "json",
        success: function (results) {
            setTimeout(() => {
                $('.data').DataTable({
                    data: Object.values(results["results"]),
                    responsive: true
                }).columns.adjust()
            }, 50)
            let bg_used = ((results["paddy_uplifted"] * 68 / 100) - results["rice_deposited"]) * 2271
            $('#bg_secured').text(results["bg_secured_raw"])
            $('#bg_used').text(bg_used.toFixed(2))
            $('#bg_remaining').text((results["bg_secured_raw"] - bg_used).toFixed(2))
            $('.loader').hide()
        },
        error: function (xhr, status) {
            alert("Sorry, there was a problem!");
        },
        complete: function (xhr, status) {
            $('#guarantee').show()
            $('.loader').hide()
        }
    })
</script>
{% endblock %}