{% extends 'base.html' %} 
{% load mathfilters %}
{% block body %}
<div class="row justify-content-between">
    <div class="col-md-6">
        <div class="row live-data">
            <div class="col-md-6">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Paddy Uplifted</p>
                                <h4 id="paddy_uplifted" class="mb-0"></h4>
                            </div>
                            <div class="mini-stat-icon text-center align-self-center">
                                <img src="/static/images/paddy.png" height="64" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Rice Deposited</p>
                                <h4 id="rice_deposited" class="mb-0"></h4>
                            </div>
                            <div class="mini-stat-icon align-self-center">
                                <img src="/static/images/rice.png" height="64" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row live-data">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title text-center pt-4 pb-2">DO Summary</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 border-right text-center">
                                <h4 class="do_lifted">234</h4>
                                <div>Do Lifted</div>
                            </div>
                            <div class="col-md-3 border-right text-center">
                                <h4 class="do_accepted">234</h4>
                                <div>Do Accepted</div>
                            </div>
                            <div class="col-md-3 border-right text-center">
                                <h4 class="do_pending">234</h4>
                                <div>Do Pending</div>
                            </div>
                            <div class="col-md-3 text-center">
                                <h4 class="do_cancelled">234</h4>
                                <div>Do Rejected</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Paddy Trading <small>(per qtl)</small></p>
                                <h4 id="paddy_uplifted" class="mb-0">&#x20b9; {{ average_price }}</h4>
                            </div>
                            <div class="mini-stat-icon text-center align-self-center">
                                <img src="/static/images/paddy-sub.png" height="64" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Rice Trading <small>(per qtl)</small></p>
                                <h4 id="rice_deposited" class="mb-0">&#x20b9; {{ raverage_price }}</h4>
                            </div>
                            <div class="mini-stat-icon align-self-center">
                                <img src="/static/images/rice-sub.png" height="64" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title text-center pt-4 pb-2">Overall Incoming Stock</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 border-right text-center">
                                <h4>{{ paddy_incoming|default:0|floatformat:2 }} <small>qtls</small></h4>
                                <div>Paddy Stock</div>
                            </div>
                            <div class="col-md-6 border-right text-center">
                                <h4>{{ rice_incoming|default:0|floatformat:2 }} <small>qtls</small></h4>
                                <div>Rice Stock</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Godown Stock Status</div>
                <div class="apex-charts" id="pie_chart">

                </div>
            </div>
        </div>
    </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-title text-center pt-4 pb-2">Paddy shortage <small>(approx)</small></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 border-right text-center">
                            <h4 class="pshort">0</h4>
                            <div>Paddy Shortage</div>
                        </div>
                        <div class="col-md-6 border-right text-center">
                            <h4 class="rshort">&#x20b9;0</h4>
                            <div>Amount Shortage</div>
                        </div>
                    </div>
                    <div class="noti text-center mt-4"></div>
                </div>
            </div>
        </div>
</div>
        {% if request.COOKIES.MERP_FIRM %}
        <div class="card loader">
            <div class="card-body text-center">
                <div id="spinner" class="spinner-border text-dark m-1" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="card-title mt-4">Please wait while we are loading the live data from site</div>
            </div>
        </div>
        <div class="text-center mt-4"><a href="{% url 'reload-data' millcode=request.millcode %}"><button type="submit" class="btn btn-secondary btn-sm mb-3"><i class="bx bx-rotate-left"></i>Reload Live Data</button></a></div>
        {% endif %}
{% endblock %}
{% block scripts %}
<script src="/static/libs/jquery/jquery.min.js"></script>
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/libs/node-waves/waves.min.js"></script>
<script src="/static/libs/apexcharts/apexcharts.min.js"></script>

<!-- App js -->
<script src="/static/js/app.js"></script>
<script>
    {% if request.COOKIES.MERP_FIRM %}
    $('.live-data').hide()
    $.ajax({
        url: '{% url "guarantee-api" millcode=request.millcode %}',
        type: 'GET',
        dataType: "json",
        success: function (results) {
            if(results.paddy_uplifted == undefined){
                fireError()
            }
            $('.loader').hide()
            $('#paddy_uplifted').text(results["paddy_uplifted"])
            $('#rice_deposited').text(results["rice_deposited"])
            $('.do_lifted').text(results["total_do_lifted"])
            $('.do_accepted').text(results["total_do_issued"])
            $('.do_cancelled').text(results["total_do_cancelled"])
            $('.do_pending').text(results["total_do_pending"])
            let pshort = (Number.parseFloat(`${results["paddy_uplifted"]}` || 0) * 40 /100) - (( Number.parseFloat("{{paddy_outgoing|default:0|floatformat:2}}") * 40 / 100  ) + Number.parseFloat(`${results["rice_deposited"]}` || 0)) 
            let rshort = pshort * Number.parseFloat("{{ request.mill.ppq|default:0 }}")
            if(pshort < 0){
                $('.pshort').text((pshort * -1).toFixed(2) + " qtls").addClass("text-success")
                $('.noti').html(`&#x1F389; Hurry, there's no shortage`)
            } else {
                $('.pshort').text(`${pshort.toFixed(2)}` + "qtls").addClass("text-danger")
                $('.noti').html(`&#x1F914; Opps, we have run out of stock`)
            }
            if(rshort < 0){
                $('.rshort').text(`\u20b9${(rshort * -1).toFixed(2)}`).addClass("text-success")
            } else {
                $('.rshort').text(`\u20b9${rshort.toFixed(2)}`).addClass("text-danger")
            }
        },
        error: function (xhr, status) {
            alert("Sorry, there was a problem!");
        },
        complete: function (xhr, status) {
            $('.live-data').show()
            $('.loader').hide()
        }
    })
    options = {
        chart: {
            height: 480,
            type: "pie"
        },
        {% autoescape off %}
        series: [{% for entry in entries %} {{ entry.quantity }}, {% endfor %}],
        {% endautoescape %}
        {% autoescape off %}
        labels: [{% for entry in entries %} '{{ entry.godown }}', {% endfor %}],
        {% endautoescape %}
        legend: {
            show: !0,
            position: "bottom",
            horizontalAlign: "center",
            verticalAlign: "middle",
            floating: !1,
            fontSize: "14px",
            offsetX: 0,
            offsetY: -10
        },
        responsive: [{
            breakpoint: 600,
            options: {
                chart: {
                    height: 240
                },
                legend: {
                    show: !1
                }
            }
        }]
    };
    (chart = new ApexCharts(document.querySelector("#pie_chart"),options)).render();
    {% endif %}
</script>
{% endblock %}