{% extends 'base.html' %} 
{% block corestyles %}
<link href="/static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />
<link href="/static/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/libs/@chenfengyuan/datepicker/datepicker.min.css">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Paddy Report</div>
                    <form method="GET" class="mt-4" action="{% url 'materials-excel' millcode=request.millcode %}">
                        <label for="" class="control-label">Choose date range</label>
                        <div class="input-daterange input-group" data-date-format="yyyy-mm-dd" data-date-autoclose="true" data-provide="datepicker">
                            <input autocomplete="off" type="text" class="form-control" name="from">
                            <input type="text" autocomplete="off" class="form-control" name="to">
                        </div>
                        <button class="btn btn-success mt-4" type="submit"><i class="mdi mdi-download"></i> Download</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Rice Report</div>
                    <form method="GET" class="mt-4" action="{% url 'products-excel' millcode=request.millcode %}">
                        <label for="" class="control-label">Choose date range</label>
                        <div class="input-daterange input-group" data-date-format="yyyy-mm-dd" data-date-autoclose="true" data-provide="datepicker">
                            <input autocomplete="off" type="text" class="form-control" name="from">
                            <input type="text" autocomplete="off" class="form-control" name="to">
                        </div>
                        <button class="btn btn-primary mt-4" type="submit"><i class="mdi mdi-download"></i> Download</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Analysis Report</div>
                    <form method="GET" class="mt-4" action="{% url 'analysis' millcode=request.millcode %}">
                        <div class="row col-md-12">
                            <div class="form-group col-md-6">
                                <label for="" class="control-label">Choose date range</label>
                                <div class="col-md-12">
                                    <div class="input-daterange input-group" data-date-format="yyyy-mm-dd" data-date-autoclose="true" data-provide="datepicker">
                                        <input autocomplete="off" type="text" class="form-control" name="from">
                                        <input type="text" autocomplete="off" class="form-control" name="to">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="" class="control-label">Choose Rice Type</label>
                                <div class="col-md-12">
                                    <select name="rice" class="rices">
                                        {% for rice in rices %}
                                            <option value="{{ rice.pk }}">{{ rice.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-title mt-4 pt-2">Paddy Closing Stock <small>(Paddy in Dheri + Handi + Truck)</small></div>
                        <div class="row">
                            {% for material in materials %}
                                <div class="form-group col-md-3 mt-2">
                                    <label for="">{{ material.name }}</label>
                                    <input class="form-control" type="number" step="any" name="paddy{{ material.pk }}" class="Ex" class="form-group">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary mt-4" type="submit"><i class="mdi mdi-download"></i> Download</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/libs/jquery/jquery.min.js"></script>
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/libs/jszip/jszip.min.js"></script>
<script src="/static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="/static/js/pages/datatables.init.js"></script>
<script src="/static/libs/node-waves/waves.min.js"></script>
<script src="/static/libs/select2/js/select2.min.js"></script>
<script src="/static/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/static/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/static/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/libs/tui-time-picker/tui-time-picker.min.js"></script>
<script src="/static/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/static/libs/tui-date-picker/tui-date-picker.min.js"></script>
<script src="/static/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/static/js/pages/form-advanced.init.js"></script>
<script src="/static/js/app.js"></script>
<script>
    $('.rices').select2({
        width: '100%'
    })
</script>
{% endblock %}