<div class="vertical-menu">

    <div data-simplebar="init" class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Home</li>
                <li>
                    <a href="{% url 'dashboard_home' millcode=request.millcode %}" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="bx bx-bar-chart-alt-2"></i>
                        <span>Reports</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'guarantee' millcode=request.millcode %}" class="waves-effect">
                        <i class="bx bxs-bank"></i>
                        <span>Guarantee</span>
                    </a>
                </li>
                <li class="menu-title">Paddy</li>
                <li>
                    <a href="{% url 'materials-incoming' millcode=request.millcode %}" class=" waves-effect">
                        <i class="bx bx-download"></i>
                        <span>Incoming</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'materials-outgoing' millcode=request.millcode%}" class=" waves-effect">
                        <i class="bx bx-upload"></i>
                        <span>Outgoing</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'materials-processing' millcode=request.millcode%}" class=" waves-effect">
                        <i class="bx bx-loader"></i>
                        <span>Processing</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'materials-godowns' millcode=request.millcode%}" class=" waves-effect">
                        <i class="bx bx-store-alt"></i>
                        <span>Godowns</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'materials-trading' millcode=request.millcode %}" class=" waves-effect">
                        <i class="bx bx-transfer-alt"></i>
                        <span>Trading</span>
                    </a>
                </li>

                <li>
                    <a href="#" class=" waves-effect">
                        <i class="bx bx-message-square-dots"></i>
                        <span>Paddy Shortage</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'materials-configuration' millcode=request.millcode%}" class=" waves-effect">
                        <i class="bx bx-cog"></i>
                        <span>Configuration</span>
                    </a>
                </li>

                <li class="menu-title">Rice</li>

                <li>
                    <a href="{% url 'products-incoming' millcode=request.millcode%}" class=" waves-effect">
                        <i class="bx bx-downvote"></i>
                        <span>Incoming</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'products-outgoing' millcode=request.millcode%}" class=" waves-effect">
                        <i class="bx bx-upvote"></i>
                        <span>Outgoing</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'products-stocks' millcode=request.millcode%}" class=" waves-effect">
                        <i class="bx bx-data"></i>
                        <span>Stock</span>
                    </a>
                </li>

                <li>
                    <a href="#" class=" waves-effect">
                        <i class="bx bx-message-square-dots"></i>
                        <span>Paddy Shortage</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'products-trading' millcode=request.millcode %}" class=" waves-effect">
                        <i class="bx bx-transfer-alt"></i>
                        <span>Trading</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'products-configuration' millcode=request.millcode %}" class=" waves-effect">
                        <i class="bx bx-cog"></i>
                        <span>Configuration</span>
                    </a>
                </li>

                <li class="menu-title">Miscs</li>

                <li>
                    <a href="#" class="waves-effect">
                        <i class="bx bx-wrench"></i>
                        <span>Mill Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span>My Account</span>
                    </a>
                </li>

                <li>
                    <a href="tel:+917000708083" class="waves-effect">
                        <i class="bx bx-support"></i>
                        <span>Request Support</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>